# Compiled class file
*.class

# Javadoc
doc/javadoc/

# Reports
test/reports/

# Libraries
lib/

# Eclipse
.checkstyle
.classpath
.pmd
.project

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

