# Compiled class file
*.class

# Javadoc
doc/javadoc/

# Reports
test/reports/
version.properties
checkstyle-result.xml
pmd-result.xml
cpd-result.xml
findbugsXml.xml

# Libraries
lib/

# Eclipse
.checkstyle
.classpath
.pmd
.project
.settings

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
